[Unit]
Description=Pacemaker Remote Node (pcsd) Quadlet
Wants=network-online.target
After=network-online.target

[Container]
Image=quay.io/ha-core/pacemaker-remote:latest
Network=host
Privileged=true
Volume=/etc/corosync:/etc/corosync:Z
Volume=/etc/pacemaker:/etc/pacemaker:Z
Label=org.mios.ha.role=pcs-remote

[Install]
WantedBy=multi-user.target
