[Unit]
Description=Standalone Ceph RADOS Gateway Client
ConditionVirtualization=no

[Container]
GlobalArgs=--storage-opt=additionalimagestore=/usr/lib/bootc/storage
Image=quay.io/ceph/ceph:latest
AutoUpdate=registry
ContainerName=ceph-radosgw
HttpProxy=false
PublishPort=8000:8080
# Bind-mount the persistent /etc/ceph configs so the container can auth with the cluster
Volume=/etc/ceph:/etc/ceph:ro
Volume=/var/lib/ceph:/var/lib/ceph:ro
Exec=radosgw --cluster ceph --name client.rgw.standalone --setuser ceph --setgroup ceph -f

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
