[Unit]
Description=Apache Guacamole guacd daemon
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=cloudws-guacd
Image=docker.io/guacamole/guacd:1.6.0
AutoUpdate=registry
Network=cloudws-vdi.network
NetworkAlias=guacd

[Service]
Restart=always

[Install]
WantedBy=cloudws-vdi.target
