[Unit]
Description=Apache Guacamole web client
Wants=network-online.target cloudws-guacd.service cloudws-guacamole-db.service
After=network-online.target cloudws-guacd.service cloudws-guacamole-db.service
Requires=cloudws-guacd.service cloudws-guacamole-db.service

[Container]
ContainerName=cloudws-guacamole
Image=docker.io/guacamole/guacamole:1.6.0
AutoUpdate=registry
PublishPort=8080:8080
Environment=GUACD_HOSTNAME=guacd
Environment=GUACD_PORT=4822
Environment=POSTGRESQL_HOSTNAME=guacamole-db
Environment=POSTGRESQL_PORT=5432
Environment=POSTGRESQL_DATABASE=guacamole_db
Environment=POSTGRESQL_USER=guacamole_user
Secret=cloudws_guac_db_password,type=env,target=POSTGRESQL_PASSWORD
Environment=REMOTE_IP_VALVE_ENABLED=true
Environment=REMOTE_IP_VALVE_INTERNAL_PROXIES=127\.0\.0\.1|10\.0\.0\.0/8|172\.16\.0\.0/12|35\.235\.240\.0/20
Environment=REMOTE_IP_VALVE_REMOTE_IP_HEADER=x-forwarded-for
Environment=REMOTE_IP_VALVE_PROTOCOL_HEADER=x-forwarded-proto
Environment=HTTP_AUTH_ENABLED=true
Environment=HTTP_AUTH_HEADER=X-Goog-Authenticated-User-Email
Network=cloudws-vdi.network
NetworkAlias=guacamole

[Service]
Restart=always
TimeoutStartSec=600

[Install]
WantedBy=cloudws-vdi.target
