[Unit]
Description=CloudWS KasmVNC server
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=cloudws-kasmvnc
Image=docker.io/kasmweb/core-ubuntu-noble:1.18.0
AutoUpdate=registry
PublishPort=6901:6901
Environment=VNC_PW=changeme
Environment=VNC_USER=cloudws
Environment=KASM_RESTRICTED_FILE_CHOOSER=1
ShmSize=512m
Volume=cloudws-kasm-home:/home/kasm-user:Z
Network=cloudws-vdi.network
PodmanArgs=--device=nvidia.com/gpu=all

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=cloudws-vdi.target
