[Unit]
Description=CloudWS K3s Master Role
Requires=multi-user.target k3s.service
After=multi-user.target
Conflicts=cloudws-desktop.target cloudws-headless.target cloudws-ha-node.target
AllowIsolate=yes
[Install]
WantedBy=multi-user.target
