[Unit]
Description=CloudWS SELinux Policy Loader
ConditionVirtualization=!container
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target
ConditionPathExists=!/var/lib/cloudws/.selinux-init-done
ConditionPathExists=/usr/share/selinux/packages/cloudws

[Service]
Type=oneshot
ExecStart=/usr/libexec/cloudws/selinux-init
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
