[Unit]
Description=CloudWS K3s master role (control plane)
Requires=multi-user.target
After=multi-user.target
AllowIsolate=yes
Wants=k3s.service

[Install]
Alias=default.target.cloudws-k3s-master