[Unit]
Description=CloudWS System Init & Role Engine
Wants=network-online.target
After=network-online.target local-fs.target
DefaultDependencies=no
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/cloudws/role-apply
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
