[Unit]
Description=MiOS first-boot provisioning
Documentation=https://github.com/Kabuki94/MiOS
After=multi-user.target
Wants=mios-cdi-detect.service mios-libvirtd-setup.service mios-grd-setup.service

[Install]
WantedBy=multi-user.target