[Desktop Entry]
Type=Application
Name=Ceph Dashboard
Comment=Ceph Storage Dashboard
Exec=xdg-open https://localhost:8443
Terminal=false
Icon=drive-harddisk
Categories=System;
Keywords=ceph;storage;
