[Desktop Entry]
Type=Application
Name=Cockpit Dashboard
Comment=MiOS Server Management
Exec=cockpit-desktop /
Terminal=false
Icon=cockpit
Categories=System;
Keywords=server;management;dashboard;
