[Unit]
Description=Guacamole PostgreSQL Database
ConditionVirtualization=!wsl

[Container]
GlobalArgs=--storage-opt=additionalimagestore=/usr/lib/bootc/storage
Image=docker.io/postgres:15
ContainerName=guacamole-postgres
HttpProxy=false
Network=guacamole.network
Volume=guacamole-postgres.volume:/var/lib/postgresql/data
Environment=POSTGRES_PASSWORD=guacamole
Environment=POSTGRES_USER=guacamole
Environment=POSTGRES_DB=guacamole
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
